<AppTitle />

<div class="app__navigation">
  <div class="ui text container">
    <div class="ui secondary menu">
      <div class="ui basic blue button">
        <i class="icon plus square"></i> I Need Help
      </div>
      <div class="ui basic green button">
        <i class="icon hand point right outline"></i> I Want to Help
      </div>

      <div class="right menu">
        <div class="ui basic button">
          Sign-in
        </div>
      </div>
    </div>
    {{!-- <Search @search={{@model.search}} /> --}}
  </div>
</div>

<div class="ui text container">
  <div class="ui divider"></div>
  <small>
    You appear to be in <a>{{@model.place.state.name}}</a>.
  </small>

  <div class="ui grid">
    <!-- Needs List -->
    <div class="nine wide column">
      <div></div>

      <div class="ui items">
      {{#each @model.posts as |post|}}
        <div class="item">
          <div class="content">
            <h3 class="ui header">
              Someone <u>near you</u> needs <u>{{post.category.friendlyName}}</u>
            </h3>
            <div class="description">
              <p>{{post.description}}</p>
              <p>{{post.instructions}}</p>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>

    <!-- Reach-out Efforts -->
    <div class="seven wide column">
      <div class="ui card">
        <div class="content">
          <div class="header">Healthcare + Technology</div>
          <div class="description">
            Colorado needs healthcare or technology professionals
            to perform critical work.
            <br />
            <a href="http://helpcoloradonow.org">→ See how you can help.</a>
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="content">
          <div class="header">Volunteering</div>
          <div class="description">
            Do you have time to volunteer?
            <br />
            <a href="https://coloradoresponds.communityos.org/volunteer-registration">
              → Signup to volunteer now
            </a>
          </div>
        </div>
      </div>
      <div class="ui card">
        <div class="content">
          <div class="header">Giving</div>
          <div class="description">
            Are you able to give money to charitable causes?
            <br />
            <a href="https://www.charitynavigator.org">→ Learn about options</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
